{% import "_macros/activenav.html" as macros %}

<ul class="container__nav">
    <li><a href="{{ url('/') }}" class="container__nav-item nav__item-home {{ macros.is_active('andrea') }}">Andrea</a></li>
    <li><a href="{{ url('films') }}" class="container__nav-item nav__item-films {{ macros.is_active('films') }}">Films</a></li>
    <li><a href="{{ url('about') }}" class="container__nav-item nav__item-about {{ macros.is_active('about') }}">About</a></li>
    <li><a href="{{ url('contact') }}" class="container__nav-item nav__item-contact {{ macros.is_active('contact') }}">Contact</a></li>
</ul>