{% extends '/_layout' %}

{% block main %}

<div class="container container__detail" style="background-image: url({{ entry.filmImage.one().getUrl('fullImage') }});">

    <div class="container__navbox">
        {% include '/_includes/navigation.twig' %}
    </div>

    <div class="detail__movie-titlebox">
        {# {{ entry.filmImage.one().img }} #}
        <h2 class="detail__movie-titlebox-title">{{ entry.title }}</h2>
        <h3 class="detail__movie-titlebox-subtitle">to dream as he does</h3>
        <p class="detail__movie-titlebox-subline">by Valentin Merz 2019</p>
    </div>
        
    <p class="detail__movie-infotext">Louis passe l’été dans la maison familiale de son ami Paul, un manoir caché dans
        les bois. Il fait chaud, la maison
        est vide, les deux amants sont seuls.
        Ils jouent, font l’amour, se promènent, dorment la nuit et souvent le jour. Mais Paul, dont la mère vient de
        mourir,
        est fatigué et nerveux. Louis perd ses repères et commence à s‘imaginer des choses, à moins qu’il ne les rêve
        en
        dor- mant debout...
    </p>
        
   
    <div class="detail__movie-credits">
   
        {% for credit in entry.creditbox.all() %}
        <div class="movie__credits-box">
        
            <p class="movie__credits-label">{{ credit.creditLabel }}</p>
            <p class="movie__credits-text">{{ credit.creditText|nl2br }}</p>
        </div>
        {% endfor %}
    
    </div>

  

        {# 327554892 #}
    <div class="detail__movie-filmbox">
        <iframe
            src="https://player.vimeo.com/video/{{ entry.videoID }}"
            style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen
            mozallowfullscreen allowfullscreen>
        </iframe>
    </div>

</div>

{% endblock %}
