{% extends '/_layout' %}
{% set bodyClass = "home" %}
{% block main %}
    {# MAIN CONTENT #}
   
        <div class="container container__home">
            <div class="container__navbox">
                {% include '/_includes/navigation.twig' %}

                {% set image = entry.videoStillImage.one() %}
                {% set video = entry.videoFileHome.one() %}
                
                {% if video %}
                <video muted playsinline poster='{{ image.getUrl() }}'>
                    <source src="{{ video.getUrl() }}" type="video/mp4">
                </video>
                {% endif %}

            </div>

        {% for entry in craft.entries.section('filmsSection').all() %}
        {% if entry.filmImage %}
            <a href="{{entry.url}}" class="container__home--filmbox" style="background-image: url({{ entry.filmImage.one().getUrl('filmThumbImg') }});">
                <h2 class="container__home--filmbox-title">{{ entry.title }}</h2>
                <p class="container__home--filmbox-subtitle">{{ entry.yearFilm }}</p>
            </a>
            {% endif %}
        {% endfor %}

        </div>

{% endblock %}